<% include partials/header %>
<h1>
	Create a new campground
</h1>
<form action ="/campgrounds" method="POST">
	<input name="name" type="text" placeholder="Enter Name"/>
	<input name="image" type="text" placeholder="Image"/>
	<input type="submit" value="Submit"/>

</form>
<a href="/campgrounds">Go Back</a>
<% include partials/footer %>
